In [4]:
import re                # 정규식
import platform          # 사용 중인 시스템 환경 관련
import import_ipynb      # ipynb 그대로 import
from time import sleep
from collections import Counter  # 동일한 자료값 몇 개인지 세기

import numpy as np
from numpy.random import randint
from random import *

from pandas import ExcelWriter
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format

from sqlalchemy import create_engine     # 무슨 용도인지??
import cx_Oracle                         # 무슨 용도인지??

import http.client
import requests
import json

# from VER2_MODULE_2019 import *        # 모르겠음. VER2_MODULE_2019 라는 파일이 따로 필요할 듯?

# NICE Oracle DB 접속
# engine = create_engine('oracle://username:password@host:port/database')
engine = create_engine('oracle://NRD:pni1114*@10.0.1.30:1521/PNIDB')

# excel DB 연결
Corp_Table = pd.read_excel('../Data/이광세연구원_유니버스 정리.xlsm', sheet_name='Sheet1', encoding='euc-kr')

Corp_Table.head()

  Corp_Name      Corp_Code Stacdivcd         J Indu_Name  Cons_Indi Kisl_Code
0    한국토지신탁  1101111258220    Annual  20191223     부동산신탁          0    065746
1    한국자산신탁  1101112196304    Annual  20190415     부동산신탁          0    171052
2    하나자산신탁  1101111714818    Annual  20190415     부동산신탁          0    142295
3    대한토지신탁  1101111492513    Annual  20190415     부동산신탁          0    102310
4     산은캐피탈  1101110137558    Annual  20200108        여신          0    820067

In [2]:
# NCR local download practice

def download_raw_data_by_api(base_date, date_count, report_type, Cons_Indi, Kisl_Code, stacdivcd):
    # 일단 stacdivcd, stac_date, com_farpt_yn, amtuit, yr, mtd_cd, tp_cd, mrl_bse_cd, farptitemcd, fatpcd, 
    # slct_tp, Kisl_Code 이것들은 api 요청 넣을 때 key로 들어감.
    
    # params = {'uid':'niceit@nicepni.com', 'stacdivcd':'stacdivcd', 'stac_date':str(base_date), 
    #           'com_farpt_yn':'', 'amtuit':'1', 'yr':str(date_count), 'mtd_cd':'F', 'tp_cd':'I',
    #           'mrl_bse_cd':'', 'farptitemcd':str(report_type), 'fatpcd':str(Cons_Indi), 'slct_tp':'',
    #           'Kisl_Code':str(Kisl_Code)}
    
    # 기관의 API 사용자 ID 입력
    uid = 'niceit@nicepni.com'
    # 결산구분(F, B, T, K - 기본 K, 반기 B)
    stacdivcd = stacdivcd
    # 결산일자
    stac_date = str(base_date)
    # 공통재무보고서 여부
    com_farpt_yn = ''
    # 금액단위 (1:원, 2:천원, 3:백만원, 4:억원)
    amtuit = '1'
    # 기준년도, 개수
    yr = str(date_count)
    # 방식코드 (F:전체, M:분석, S:약식)
    mtd_cd = 'F'
    # 양식구분 (I:K-IFRS, N:K-GAAP)
    tp_cd = 'I'
    # 자료기준코드 (term: 3개월, 기본: 누적)
    mrl_bse_cd = ''
    # 재무보고서 항목코드 (11: 재무상태표, 12: 손익계산서, 16: 현금흐름표)
    farptitemcd = str(report_type)
    # 재무제표 유형 (0: 개별, 1: 연결)
    fatpcd = str(Cons_Indi)
    # 조회유형
    slct_tp = ''
    # 조회할 업체의 KISCODE 입력
    Kisl_Code = str(Kisl_Code)
    
    api_address = "/nice/sb/api/nicepni/companyFinancialIfo/financialStateTable?uid="+uid+ \
                  "&stacdivcd="+stacdivcd+"&stac_date="+stac_date+"&com_farpt_yn="+com_farpt_yn+ \
                  "&amtuit="+amtuit+"&yr="+yr+"&mtd_cd="+mtd_cd+"&tp_cd="+tp_cd+ \
                  "&mrl_bse_cd="+mrl_bse_cd+"&farptitemcd="+farptitemcd+"&fatpcd="+fatpcd+ \
                  "&slct_tp="+slct_tp+"&kiscode="+Kisl_Code
    
    conn = http.client.HTTPSConnection("api.kisline.com")
    
    headers = {
        'x-ibm-client-id' : '08dc4389-d1e4-439b-902c-7aede5a2ca2e',
        'x-ibm-client-secret' : 'qY6pK0cS2kJ7kN8cI3dB4rT2vA2aO1tQ3sG1oV1eL6dM1oR7iD',
        'accept' : 'application/json'
    }
    
    conn.request("GET", api_address, headers=headers)
    
    response = conn.getresponse()
    data = response.read()
    text_data = data.decode('utf-8')
    raw_data_by_api = json.loads(text_data)
    
    return raw_data_by_api

In [49]:
# 2018 연결/별도재무제표 (이광세연구원이 쓴 것 따라감) 증 5개 재무제표 존재하고 
# 재무상태표/손익계산서/현금흐름표 
for i in range(len(Corp_Table)):
    sleep(1+random())
    
    try:
        # Cons_Indi : 일단 부동산신탁, 여신, 카드, 기타금융인데 이광세연구원 유니버스대로 따라감
        Cons_Indi = Corp_Table.loc[i, 'Cons_Indi']  
        
        base_date = 20181231
        date_count = 5
        
        # report_type 11 12 16 했는데 부동산신탁,여신,카드,기타금융은 
        # report_type 변수(farptcd)에 영어+1,2,4임. mng_farptcd는 그대로 11 12 16. 
        # 다른 산업들은 전부 farptcd == mng_farptcd. 
        # 재무 : 영어+1 (H1, I1 등), 손익 : 영어+2 (H2, I2 등), 현금 : 영어+4 (H4, I4 등)
        
        report_type = ['11', '12', '16']  # report_type은 이렇게 줘야 다운을 제대로 받음.
        
        Corp_Name = Corp_Table.loc[i, 'Corp_Name']
        Corp_Code = Corp_Table.loc[i, 'Corp_Code']
        Kisl_Code = Corp_Table.loc[i, 'Kisl_Code']
        
        # Annual : F, Semi : K
        stacdivcd = 'F' if Corp_Table.loc[i, 'Stacdivcd']=='Annual' else 'K'
        
        for item in report_type:
            
            raw_data_by_api = download_raw_data_by_api(base_date, date_count, item, Cons_Indi, Kisl_Code, stacdivcd)
            
            # Corp_Data 디렉토리 지정한건데 왜 파일명에 Corp_Data? --> Corp_Data 뒤에 / 하나 빠져서. 해결! 
            # Kisl_Name이 없고 Corp_Name만 있어서 일단 파일명 Corp_Name으로 대체
            with open('../Data/부동산신탁_여신_카드_기타금융/'+ \
                      str(Corp_Code)+'_'+str(Kisl_Code)+'_'+str(Corp_Name)+'_'+str(Cons_Indi)+'_'+ \
                      str(item)+'_'+str(base_date)+'.txt', 'w') as file:
                file.write(json.dumps(raw_data_by_api))
                
    except Exception as ex:
        print(Corp_Name)
        template = "An exception of type {0} occurred. Arguments:\n{1!r}"
        message = template.format(type(ex).__name__, ex.args)
        print(message)
        print(' ')

In [87]:
# txt 읽어가지고 기업별로 엑셀 만들 것. 
for i in range(len(Corp_Table)):
    
    report_type = ['11','12','16']
    
    for item in report_type:
        
        tmp_Input_Info = Corp_Table.loc[:,['Corp_Code','Kisl_Code','Corp_Name','Cons_Indi']]
        base_date = 20181231
        
        file_name = str(tmp_Input_Info.loc[i][0])+'_'+str(tmp_Input_Info.loc[i][1])+'_'+ \
                    tmp_Input_Info.loc[i][2]+'_'+str(tmp_Input_Info.loc[i][3])+'_'+ \
                    str(item)+'_'+str(base_date)
        
        with open('../Data/부동산신탁_여신_카드_기타금융/'+file_name+'.txt') as f:
            temp_response = json.load(f)
        
        try:
        # 데이터프레임
            df_temp = pd.DataFrame(temp_response['items']['item'])
        
            df_temp = df_temp.loc[:,['name_eng','name_kor','farptcd','mng_farptcd','farptitemcd','fvl0']]
            df_temp.columns = ['영어계정명','한국계정명','보고종류_0','보고종류_1','계정코드','2018값']
        
            df_temp.to_excel('../Data/부동산신탁_여신_카드_기타금융/엑셀데이터_연습/'+file_name+'.xlsx')
        
        # 이게 이상한 게 5년치 존재하는 것 다운받도록 명령 넣었는데 5년치가 없는 6개는 왜 다운받아짐?
        # 그건 그렇고 원래 다운받는 코드에서도 5년치 다 있는 것 기준 풀어야 됨. 
        # 대한토지신탁은 끝까지 에러. 
        except Exception as ex:
            print(tmp_Input_Info.loc[i][2])
            template = "An exception of type {0} occurred. Arguments:\n{1!r}"
            message = template.format(type(ex).__name__, ex.args)
            print(message)
            print('  ')

대한토지신탁
An exception of type KeyError occurred. Arguments:
('item',)

대한토지신탁
An exception of type KeyError occurred. Arguments:
('item',)

대한토지신탁
An exception of type KeyError occurred. Arguments:
('item',)

In [79]:
with open('../Data/부동산신탁_여신_카드_기타금융/'+'1101112196304_171052_한국자산신탁_0_11_20181231.txt') as test_file:
    test_response = json.load(test_file)

In [80]:
len(test_response['items']['item'])

85

In [81]:
df_test = pd.DataFrame(test_response['items']['item'])

In [83]:
# Kisl_Code, Corp_Code, Corp_Name 먼저 붙여야 됨
df_test
#df_test = df_test.loc[:,['name_eng','name_kor','farptcd','mng_farptcd','farptitemcd','fvl0','fvl1','fvl2','fvl3','fvl4']]
#df_test.columns = ['영어계정명','한국계정명','보고종류_0','보고종류_1','계정코드','2018값','2017값','2016값','2015값','2014값']

,cmprt0,cmprt1,cmprt2,farptcd,farptitemcd,fvl0,fvl1,fvl2,indrt0,indrt1,indrt2,mng_farptcd,mng_farptitemcd,monunit,name_eng,name_kor,tlevel
0,12.1,2.5,0.3,Z1,1000,93881106000,13823726000,1007609000,579.1,1271.9,888.8,11,1100,2,Cash&Equivalent,현금및예치금,1
1,12.1,2.5,0.3,Z1,1000,93881106000,13823726000,1007609000,579.1,1271.9,888.8,11,2000,2,Cash&Equivalent,현금및예치금,1
2,12.1,2.5,0.3,Z1,1560,93881106000,13624006000,1007609000,589.1,1252.1,888.8,NaN,NaN,2,Deposits,예치금,2
3,NaN,0.0,NaN,Z1,1195,NaN,199720000,NaN,NaN,888.8,NaN,NaN,NaN,2,Others,기타현금및예치금,2
4,3.2,0.0,0.5,Z1,1690,24997444000,194550000,1756817000,888.8,-88.9,888.8,NaN,NaN,2,Fair value financial assets,당기손익인식금융자산,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,-0.2,0.4,0.1,Z1,8610,-1929261000,2217206000,261743000,-187.0,747.1,888.8,NaN,NaN,2,Gain on valuation of financial assets availabl...,매도가능금융자산평가이익,3
81,-0.1,-0.1,-0.1,Z1,8632,-841363000,-393675000,-254246000,-113.7,-54.8,888.8,NaN,NaN,2,Acturarial losses,보험수리적이익,3
82,60.9,72.6,65.4,Z1,8900,471869107000,398115744000,221426285000,18.5,79.8,888.8,11,8900,2,TOTAL STOCKHOLDERS EQUITY,자본총계,0
83,100.0,100.0,100.0,Z1,9000,774816706000,548474359000,338643400000,41.3,62.0,888.8,11,9000,2,TOTAL LIABILITIES&STOCKHOLDERS EQ.,부채와자본총계,0
84,0.0,0.0,0.0,Z1,9009,101638779000,93500000000,73487520000,0.0,0.0,0.0,11,9009,4,Weighted avg. num. of issued share,[평균발행주식수],0

In [47]:
test_response['items']['item'][0]['farptcd'][1]

'4'