In [1]:
import re                # 정규식
import platform          # 사용 중인 시스템 환경 관련
import import_ipynb      # ipynb 그대로 import
from time import sleep
from collections import Counter  # 동일한 자료값 몇 개인지 세기

import numpy as np
from numpy.random import randint
from random import *

from pandas import ExcelWriter
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format

from sqlalchemy import create_engine     # 무슨 용도인지??
import cx_Oracle                         # 무슨 용도인지??

import http.client
import requests
import json

# from VER2_MODULE_2019 import *        # 모르겠음. VER2_MODULE_2019 라는 파일이 따로 필요할 듯?

# NICE Oracle DB 접속
# engine = create_engine('oracle://username:password@host:port/database')
engine = create_engine('oracle://NRD:pni1114*@10.0.1.30:1521/PNIDB')

# excel DB 연결
Corp_Table = pd.read_excel('../Data/NCR_EXCEL_DB_VER2.xlsm', sheet_name='Input_Info', encoding='euc-kr')
Self_Data = pd.read_excel('../Data/NCR_EXCEL_DB_VER2.xlsm', sheet_name='Self_Data', encoding='euc-kr')

Corp_Table.head()

,Corp_Name,Corp_Code,Indu_Name,Cons_Indi,Kisl_Code,Kisl_Name,Year_Count
0,CJ대한통운,1101110006167,물류,1,710083,씨제이대한통운,6
1,현대건설,1101110007909,건설,0,500577,현대건설,6
2,CJ,1101110015639,일반,1,310182,CJ,6
3,LG상사,1101110004632,종합상사,1,610224,LG상사,6
4,SK네트웍스,1301110005199,종합상사,1,610259,SK네트웍스,6

In [2]:
# raw data 뜯어봅시다
# Kisl_Code = '500577'   # 현대건설

# NCR_EXCEL_DB_VER2에서 Input_Info sheet 가고 Kisl_Code 지정된 값과 같은 row를 list로 만든다.
# ['현대건설', 1101110007909, '건설', 0, '500577', '현대건설', 6] 
# Corp_Table이 dataframe이고 Kisl_Code 맞는거만 잡아내서 row 1개짜리 dataframe 됨.
# Size 1짜리 (row 1개니까) --> index[0] 필요.
# tmp_Input_Info = list(Corp_Table.loc[Corp_Table[Corp_Table['Kisl_Code']==Kisl_Code].index[0]])

#base_date = 20181231
#report_type = '12'    # 손익계산서

# 다운받은 txt 파일 데이터 이름 순서대로 맞춤
# file_name = str(tmp_Input_Info[1])+'_'+str(tmp_Input_Info[4])+'_'+tmp_Input_Info[5]+'_'+ \
#            str(tmp_Input_Info[3])+'_'+report_type+'_'+str(base_date)+'.txt'

# 파일 열고, stac_date 값 확인
# with open('../Data/' + file_)

#-----------------------------------------------------------------------------------------------
# 위에 코드 보니까 다운을 잘못 받은 것 같음. NCR_EXCEL_DB_VER2에는 현대건설 Cons_Indi 0인데 1로 다운받음
# 일단 카카오는 제대로 받았으니까 카카오로 실험함
Kisl_Code = '041800'  # 카카오

tmp_Input_Info = list(Corp_Table.loc[Corp_Table[Corp_Table['Kisl_Code']==Kisl_Code].index[0]])

base_date = 20181231
report_type = '12'

file_name = str(tmp_Input_Info[1])+'_'+str(tmp_Input_Info[4])+'_'+tmp_Input_Info[5]+'_'+\
            str(tmp_Input_Info[3])+'_'+report_type+'_'+str(base_date)+'.txt'

# 파일 열고 stac_date에 값 어떻게 채워졌는지 확인
with open('../Data/'+file_name) as tweetfile:
    pyresponse = json.load(tweetfile)
    
#pyresponse   # dictionary
#pyresponse['items'] # dictionary
#pyrespones['items']['item']  # list
#pyresponse['items']['item'][100]  # dictionary

In [3]:
pyresponse['items']['item'][100]
# farptcd : 11 (재무상태표), 12 (손익계산서), 16 (현금흐름표)
# farptitemcd : 계정 코드. 여기서는 9060이 포괄손익이라는 것 알 수 있음. 손익계산서의 포괄손익이니 129060
# 2020.02.05 기준 fvl0 : 가장 최근 (2018), fvl1 : 2017 data, fvl2 : 2016 data, fvl3 : 2015 data,
# fvl4 : 2014 data, indrt0 : (fvl0 - fvl1) / fvl1, indrt1 : (fvl1 - fvl2) / fvl2, 
# indrt2 : (fvl2 - fvl3) / fvl3, indrt3 : (fvl3 - fvl4) / fvl4, 
# monunit이 2인데 이건 뭐지? dart 사업보고서에 원 단위인데?
# name_eng : 계정명 영어로
# name_kor : 계정명 한글로

{'cmprt0': '1.0',
 'cmprt1': '6.0',
 'cmprt2': '4.4',
 'cmprt3': '8.3',
 'cmprt4': '31.0',
 'farptcd': '12',
 'farptitemcd': '9060',
 'fvl0': '24222819000',
 'fvl1': '119115168000',
 'fvl2': '64893375000',
 'fvl3': '77472867000',
 'fvl4': '154875353000',
 'indrt0': '-79.7',
 'indrt1': '83.6',
 'indrt2': '-16.2',
 'indrt3': '-50.0',
 'indrt4': '157.9',
 'monunit': '2',
 'name_eng': 'Comprehensive income',
 'name_kor': '포괄손익',
 'tlevel': '0'}

In [28]:
# 일단 카카오를 가지고 데이터프레임을 만드는데 
# 재무/손익/현금 코드 - 계정코드 - 한글 계정명 - fvl0 - fvl1 - fvl2 - fvl3 - fvl4 해서 만들어보자.
#list(pyresponse['items']['item'][1])
df_kakao = pd.DataFrame(pyresponse['items']['item'])
#print(df_kakao)
#df_kakao.loc[1]
#df_kakao.loc[2]
#df_kakao.loc[3]
# df_kakao.to_excel('df_kakao.xlsx')  # 엑셀로 제작

# Kisl_Code 추가? for문 돌릴 때 따로 처리
df_kakao["Kisl_Code"] = '041800'
#df_kakao.to_excel('df_kakao.xlsx')

FileCreateError: [Errno 13] Permission denied: 'df_kakao.xlsx'

In [31]:
#df_kakao 필요한 것만 자르기 + 순서도 자를 때 열 이름 적당히 바꾸면 가능.
df_kakao = df_kakao.loc[:,['Kisl_Code','farptcd','farptitemcd','name_eng','name_kor',
                       'fvl0','fvl1','fvl2','fvl3','fvl4']]

In [32]:
df_kakao

,Kisl_Code,farptcd,farptitemcd,name_eng,name_kor,fvl0,fvl1,fvl2,fvl3,fvl4
0,041800,12,1000,REVENUE(NET),수익,2416992441000,1972326479000,1464232790000,932151827000,498857729000
1,041800,12,1100,Gross revenue,총수익,2416992441000,1972326479000,1464232790000,932151827000,498857729000
2,041800,12,1500,Revenue of merhandise finished goods sold,상품제품판매로인한수익,2416992441000,1972326479000,1464232790000,932151827000,498857729000
3,041800,12,2000,COST OF SALES,매출원가,205734487000,133246707000,59697766000,7830420000,4601299000
4,041800,12,2100,Cost of merhandise sold,상품매출원가,205734487000,133246707000,59697766000,7830420000,4601299000
...,...,...,...,...,...,...,...,...,...,...
98,041800,12,9065,Other comprehensive income attributable to ass...,관계기업의기타포괄손익에대한지분,-36234000,-802558000,560934000,428873000,NaN
99,041800,12,9057,Others,기타의기타포괄손익,NaN,NaN,NaN,NaN,3090910000
100,041800,12,9060,Comprehensive income,포괄손익,24222819000,119115168000,64893375000,77472867000,154875353000
101,041800,12,9063,Comprehensive income attributable to owners of...,포괄손익지배기업지분,59297038000,102708489000,57765340000,74380454000,155135657000
102,041800,12,9064,Comprehensive income attributable to non-contr...,포괄손익비지배지분(소수주주지분),-35074219000,16406679000,7128035000,3092413000,-260304000